extends layout

block content
    div(class="row")
        div(class="col-md-5")
            table(class="CIinfoTbl table table-striped table-bordered table-hover table-condensed")
                thead(id="infoHead")
                    tr
                        th(class="text-center")                             
                        th(class="text-center text-info bg-info") all builds number
                        th(class="text-center text-info bg-info") failure number
                        th(class="text-center text-info bg-info") aborted number
                tbody(id="infobody")
                    tr
                        th(class="text-center text-info bg-info") build Info                            
                        td(class="currentSubmitBranch text-center") 0
                        td(class="currentSubmitTime text-center") 0
                        td(class="currentSubmitTime text-center") 0
    - var i=0
    h4 [#{++i}]-Summary CI By Day:
    div(id="CISummaryPerDay",style="width:600px;height:250px;")
    h4 [#{++i}]-The whole CI duration:
    div(id="theWholeCI",style="width:600px;height:250px;")
    h4 [#{++i}]-On Target Build duration:
    div(id="onTargetbuild",style="width:600px;height:250px;")
    h4 [#{++i}]-On Target Test duration:
    div(id="onTargetTest",style="width:600px;height:250px;")  
    h4 [#{++i}]-Off Target Build duration:
    div(id="offTargetbuild",style="width:600px;height:250px;")
    h4 [#{++i}]-Off Target Test duration:
    div(id="offTargetTest",style="width:600px;height:250px;") 
    h4 [#{++i}]-test case number:
    div(id="testCaseNum",style="width:600px;height:250px;")
    h4 [#{++i}]-Original repo size:
    div(id="repoSizeOriginal",style="width:600px;height:250px;")
    h4 [#{++i}]-Checkouted repo size:
    div(id="repoSizeCheckout",style="width:600px;height:250px;")
    h4 [#{++i}]-Branch number:
    div(id="branchNumber",style="width:600px;height:250px;")
  
    h4 [#{++i}]-Original repo size usage:
    div( id="originRepoSizePlot",style="width:600px;height:400px;") 
    h4 [#{++i}]-Checkouted repo size usage:
    div( id="userRepoSizePlot",style="width:600px;height:400px;")      
    h4 [#{++i}]-Repo branch number usage:
    div( id="repoBrhCntPlot",style="width:600px;height:400px;")       
    
block userdefinejs
    script(src="/javascripts/CIDashboard.js")     
  

